@charset "utf-8";
body {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
}

.contact-us h2 {
	margin-bottom:0;
}
.contact-us .content p {
	margin-top:0;
}
.contact-us section.blurb {
	/*width: 288px;*/
	/*float: left;*/
    /*margin: 0 0 0 -34px;*/
}
.contact-us section.form-container {
	float: left;

}
.contact-us #contact-us_form fieldset.data-box {
	float: left;
    margin: 0 50px 0 -55px;
}
.contact-us #contact-us_form fieldset.submission-box {
	float: left;
    margin: 0 0 0 -20px;
}

.contact-us .col-r  {
	padding: .25em 0 0 0;
}
.lt-ie9 .contact-us .comment {
	min-width: 96%;
	min-height: 5em;
}
.lt-ie9 .contact-us .submission-box {
	min-width: 26em;
	margin: 0 0 0 2%;
	float: left;
}


.contact-us .content {
    margin: 0;
    width: 100%;


}
.contact-us .social {
	margin-top:20px;
}
.contact-us #contact-us_form .data-box .col-l>div {
	text-align: right;
/*	width: 100%;*/
	padding: .25em;
}
.contact-us #contact-us_form fieldset.comment-box {
	text-align: center;
}
.contact-us #contact-us_form label {
	text-align: right;
	height: 2em;
	line-height: 2;
	color: #ececec;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: .25em;
}
.contact-us #contact-us_form button, input, select, textarea, select, option {
	vertical-align: middle;
}
.contact-us input[type="text"],input[type="tel"],input[type="date"],select {
	max-width: 50%;
	min-width: 13em;
	border: 1px inset #666;
	background: #1f1f1f;
	color: #e0e0e0;
	resize: none;
	border-radius: .5em;
	background-clip: border-box;
	height: 2em;
	line-height: 2;
	padding: 0 .5em;
	margin-right: .25em;
}

.contact-us textarea {
    max-width: 50%;
    min-width: 13em;
    border: 1px inset #666;
    background: #1f1f1f;
    color: #e0e0e0;
    resize: none;
    border-radius: .5em;
    background-clip: border-box;
    line-height: 2;
    padding: 0 .5em;
    margin-right: .25em;
}
.contact-us input[type=submit] {
	background: #3b5c6d;
	border-radius: 20px;
	text-transform: uppercase;
	border: none;
	margin: 0;
	color: #fff;
	padding:7px 20px;
	line-height:2em;

}
.contact-us input[type=submit].large {
	width:200px;
	line-height:52px;
}
.contact-us #contact-us_form h3 {
	font-family: "NeutraText BookItalic","Verdana","DejaVu Sans",sans-serif;
	font-style: italic;
	color: #ececec;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
}
.contact-us #contact-us_form textarea.address {
	height: 4em;
	line-height: 1.25;
}
.contact-us #contact-us_form select {

}
.contact-us #contact-us_form option {
	height: 2em;
	line-height: 2;
	padding: 0 .5em;
}
.contact-us #contact-us_form label.radio {
	text-align: left;
	display: block;
}
.contact-us #contact-us_form label.radio>input[type="radio"]{
	margin-right: .25em;
}
div.captcha {
	margin: 1em auto;
	width: 330px;
}
.contact-us #email-signup legend {
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
}
.contact-us #contact-us_form div#contact_form-product_UPC-callout {
    margin: 0 0 0 96px;

}
.contact-us #contact-us_form div#contact_form-product_UPC-callout img {
    margin: 10px;
    float: left;

}
.contact-us #contact-us_form div#contact_form-product_UPC-callout p {
    margin: 0 0 0 0;
    width: 300px;
    color: white;

}

.section1 {
    width: 325px;
    position: relative;
    float: left;

}
.section2 {
    width: 325px;
    position: relative;
    float: right;

}
.section3 {
    width: 325px;
    position: relative;
    float: right;

}
/**********/
