@charset "utf-8";
body {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
}

.contact-us h2 {
	margin-bottom:0;
}
.contact-us .content p {
	margin-top:0;
}
.contact-us section.blurb {
	width: 292px;
	float: left;
    margin: 0 0 0 0;
}

.contact-us section.blurb h2 {
    color: #f9f6f0;
    font-size: 18px;
    margin-top: 0;
}
.contact-us section.form-container {
	float: left;

}
.contact-us #contact-us_form fieldset.data-box {
	float: left;
    margin: 0 39px 0 0px;
}
.contact-us #contact-us_form fieldset.submission-box {
	float: left;
    margin: 0 0 0 -20px;
}

.contact-us .col-r  {
	padding: .25em 0 0 0;
}
.lt-ie9 .contact-us .comment {
	min-width: 96%;
	min-height: 5em;
}
.lt-ie9 .contact-us .submission-box {
	min-width: 26em;
	margin: 0 0 0 2%;
	float: left;
}


.contact-us .content {
    width: 980px;
    padding: 0 30px 30px 0;


}
.contact-us .social {
	margin-top:20px;
}
.contact-us #contact-us_form .data-box .col-l>div {
	text-align: right;
/*	width: 100%;*/
	padding: .25em;
}
.contact-us #contact-us_form fieldset.comment-box {
	text-align: center;
}
.contact-us #contact-us_form label {
	text-align: right;
	height: 2em;
	line-height: 2;
	color: #ececec;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: .25em;
}
.contact-us #contact-us_form button, input, select, textarea, select, option {
	vertical-align: middle;
}
.contact-us input[type="text"],input[type="tel"],input[type="date"],select {
	max-width: 50%;
	min-width: 13em;
	border: 1px inset #666;
	background: #1f1f1f;
	color: #e0e0e0;
	resize: none;
	border-radius: .5em;
	background-clip: border-box;
	height: 2em;
	line-height: 2;
	padding: 0 .5em;
	margin-right: .25em;
}

.contact-us textarea {
    max-width: 50%;
    min-width: 13em;
    border: 1px inset #666;
    background: #1f1f1f;
    color: #e0e0e0;
    resize: none;
    border-radius: .5em;
    background-clip: border-box;
    line-height: 2;
    padding: 0 .5em;
    margin-right: .25em;
}
.contact-us input[type=submit] {
	background: #3b5c6d;
	border-radius: 14px;
	text-transform: uppercase;
	border: none;
	margin: 0;
	color: #fff;
	padding:0px 20px;
	line-height:2em;

}
.contact-us input[type=submit].large {
	width:200px;
	line-height:52px;
}
.contact-us #contact-us_form h3 {
	font-family: "NeutraText BookItalic","Verdana","DejaVu Sans",sans-serif;
	font-style: italic;
	color: #ececec;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
}
.contact-us #contact-us_form textarea.address {
	height: 4em;
	line-height: 1.25;
}
.contact-us #contact-us_form select {

}
.contact-us #contact-us_form option {
	height: 2em;
	line-height: 2;
	padding: 0 .5em;
}
/*.contact-us #contact-us_form label.radio {*/
	/*text-align: left;*/
	/*display: block;*/
/*}*/
/*.contact-us #contact-us_form label.radio>input[type="radio"]{*/
	/*margin-right: .25em;*/
/*}*/
div#captchadiv {
	margin: 1em auto;
	width: 300px;
}
.contact-us #email-signup legend {
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
}
.contact-us #contact-us_form div#contact_form-product_UPC-callout {

    position: relative;
    left: 160px;
    top: 5px;

}

.contact-us #contact-us_form div#contact_form-product_UPC-callout img {
    margin: 0 0 0 0;

}
.contact-us #contact-us_form div#contact_form-product_UPC-callout img {
    width: 66px;
    height: 39px;
    float: left;
    margin-right: 5px;

}
.contact-us #contact-us_form div#contact_form-product_UPC-callout p {
    margin: 0 0 0 0;
    width: 150px;
    color: white;
    text-transform: uppercase;
    font-size: 8px;
    font-family: Helvetica, Arial, sans-serif;

}
.recaptchatable #recaptcha_response_field {
    width: 100px!important;
    position: relative!important;
    bottom: 7px!important;
    padding: 0!important;
    margin: 15px 0 0 0!important;
    font-size: 10pt;
}


/* Common form control styles */
.selector, .selector span, .checker span, .radio span, .button, .button span, .textfield, .textfield input {
    background-image: url("../img/bg_map_controls.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}
.selector, .checker, .button, .radio, .uploader {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    /* Keeping this as :focus to remove browser styles */
}
.selector:focus, .checker:focus, .button:focus, .radio:focus, .uploader:focus {
    outline: 0;
}
.selector, .selector *, .radio, .radio *, .checker, .checker *, .uploader, .uploader *, .button, .button * {
    margin: 0;
    padding: 0;
/* Radio buttons*/
.radio {
    position: relative;
}
.radio, .radio span, .radio input {
    width: 23px;
    height: 23px;
}
.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 6px -118px;
}
.radio span.checked {
    background-position: -17px -117px;
}
.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
}
.radio.active span {
    background-position: -23px -18px -343px;
}
.radio.active span.checked {
    background-position: -115px -343px;
}
.radio.hover span, .radio.focus span {
    background-position: -46px -36px -343px;
}
.radio.hover span.checked, .radio.focus span.checked {
    background-position: -138px -343px;
}
.radio.hover.active span, .radio.focus.active span {
    background-position: -69px -343px;
}
.radio.hover.active span.checked, .radio.focus.active span.checked {
    background-position: -161px -343px;
}
.radio.disabled span, .radio.disabled.active span {
    background-position: -184px -343px;
}
.radio.disabled span.checked, .radio.disabled.active span.checked {
    background-position: -207px -343px;
}
