.faq .content {
	overflow-y:auto;
	width:880px;
	margin-left: -440px;
}
.faq .col {
	float:left;
	width:33.33333333333333%;
	position:relative;
	margin-bottom:20px;
}
.faq-qa h2 {
	margin-bottom:0;
	font-size:16px;
	font-weight:normal;
}
.faq-qa p {
	margin:0;
}
.faq-qa .well {
	padding:0 10px;
}
.faq-contact {
	border-top:2px ridge #4c4c4c;
	color:#5a5353;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	width:500px;
	margin:30px auto;
	padding-top:30px;
}
.faq-contact p {
	margin-bottom:20px;
}

@media only screen and (max-width:1100px) {
	.faq.col {
		width:50%;
		min-height:150px;
	}	
}