/*
   Slide Content Styles
   -------------------------------------------------------------------------- */
.promo1 {
    background:#110d0d url(../img/bg_promo_1.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.promo1 .slide-content {
    height:100%;
}
.promo1-h1 {
    color:#eee4d0;
    display:block;
    font-size:40px;
    font-weight:normal;
    letter-spacing:10px;
    line-height:1em;
    margin:0;
    padding:0 0 40px 0;
    text-shadow: 0 0 0.2em #eee4d0;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    display:none;
    background:url(../img/bg_promo1_h1.png) no-repeat center bottom;
}
.promo1-links {
    margin:30px auto 0;
    width:85%;
}
.promo1-link {
    display:none;
    float:left;
    background:url(../img/bg_promo1_sprites.png) no-repeat center bottom;
    color:#e6decc;
    text-decoration:none;
    font-size:21px;
    text-align:center;
    padding-bottom:20px;
    width:33%;
    line-height:1em;
    text-transform:uppercase;
	-webkit-transition: margin-top 200ms; 
    -moz-transition: margin-top 200ms; 
    -ms-transition: margin-top 200ms; 
    -o-transition: margin-top 200ms; 
    transition: margin-top 200ms; 
}
.promo1-link:first-child {
    margin-left:0;
}
.promo1-link:hover {
	margin-top:-3px;
	-webkit-transition: margin-top 200ms; 
    -moz-transition: margin-top 200ms; 
    -ms-transition: margin-top 200ms; 
    -o-transition: margin-top 200ms; 
    transition: margin-top 200ms; 
}
.promo1-link span {
    display:block;
    font-family:neutrafaceText-bold_alt, Arial, Helvetica, sans-serif;
}
.promo1-bottles {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    display: none;
    z-index:-1;
}
.promo2 {
    background:#110d0d url(../img/bg_promo_2.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.promo2 .slide-content {
    position:absolute;
    width:950px;
    height:543px;
    left:50%;
    top:50%;
    margin:-271px 0 0 -475px;
}
.promo2 .slide-content .left-col {
    position:absolute;
    top:0;
    left:0;
    width:384px;
}
.promo2-h1 {
    margin:67px 0 0;
    padding:50px 0 28px 0;
    background:url(../img/bg_promo2_h1.png) no-repeat 0 -3px;
    line-height:1.3em;
    font-size:25px;
    color:#f7f2ee;
    display:none;
    text-transform:uppercase;
}
.promo2-h1 span {
    font-size:35px;
    color:#f2bf92;
    display:block;
    padding-left:25px;
    font-family:neutrafaceText-bold_alt, Arial, Helvetica, sans-serif;
}
.promo2-h2 {
    background:url(../img/bg_promo2_h2.png) no-repeat center bottom;
    color:#cdcdcd;
    display:none;
    font-size:18px;
    font-weight:normal;
    margin-top:20px;
    padding-bottom:25px;
    text-align:center;
    width: 83%;
}
.promo2-meet {
    display:block;
    width:120px;
    margin:0 0 0 115px;
    padding-bottom:75px;
    background:url(../img/bg_promo2_link.png) no-repeat center bottom;
    text-decoration:none;
    color:#e1e1e1;
    text-align:center;
    font-size:12px;
    display:none;
}
.promo2-bottles {
    position:absolute;
    top:0;
    right:0;
}
.promo2-bottle {
    float:left;
    opacity:0;
    -webkit-transition: margin-top 200ms;
    -moz-transition: margin-top 200ms;
    -ms-transition: margin-top 200ms;
    -o-transition: margin-top 200ms;
    transition: margin-top 200ms;
    text-decoration:none;
}
.promo2-bottle:hover {
    margin-top:-5px;
}
.promo2-bottles-label {
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    font-size:13px;
    margin:0;
    display:none;
}
.promo2-bottles-label img {
    margin-top:10px;
}
.promo2-bottles-label.pumpkin {
    margin:-80px 0 0 0;
}
.promo2-bottles-label.redvelvet {
    margin: -60px 0 0 0;
}
.promo2-bottles-label.whitechocbark {
    margin:-80px 0 0 0;
}

@media only screen and (max-height: 689px)
{
    .promo1-bottles {
        bottom: -20%;
    }
}
@media only screen and (max-width: 1100px)
{
    .promo2-bottle img {
        height:50%;
    }
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}


/*
   IE8 Fixes
   -------------------------------------------------------------------------- */
.lt-ie9 .promo1 {
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.brandcontent.com/baileys/img/bg_promo_1.jpg', sizingMethod='scale')";
}
.lt-ie9 .promo2 {
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.brandcontent.com/baileys/img/bg_promo_2.jpg', sizingMethod='scale')";
}
.lt-ie9 .promo2-h1 {
    font-size:23px;
}
.lt-ie9 .promo2-h1 span {
    font-size:32px;
}