/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a:focus { 
	outline:none; 
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
	width:100%;
	height:100%;
	overflow:hidden;
	border:0;
	padding:0;
}
body {
	font-family:neutrafaceText-book_alt, Arial, Helvetica, sans-serif;
}
.border {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#110d0d;
	padding:15px 15px 43px 0;
	border-left:15px solid #110d0d;
	overflow: hidden;
	z-index:1;
}
#brand {
	display:block;
	position:absolute;
	top:-195px;
	left:4%;
	z-index:5;
	width:150px;
	height:210px;
	background:url(../img/logo.png) no-repeat;
}
#brand:hover {
	top:-190px;
}
.container {
	background-color:#282828;
	position:relative;
	overflow: hidden;
	width:100%;
	height:100%;
	z-index:2;
}
.intro-logo {
	display:none;
	width:300px;
	height:273px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-137px 0 0 -150px;
}
.slide {
	position:absolute;
	overflow: hidden;
	width:100%;
	height:100%;
	z-index:3;
	display:none;
}
.corner-tl {
	position:absolute;
	width:219px;
	height:186px;
	background:url(../img/bg_corners.png) no-repeat;
	left: -34px;
	top: 14px;
	z-index:3;
}
.corner-br {
	position:absolute;
	width:186px;
	height:186px;
	background:url(../img/bg_corners.png) right bottom no-repeat;
	bottom: 42px;
	right: 14px;
	z-index:3;
}
.corner-bl {
	position:absolute;
	width:70px;
	height:49px;
	background:url(../img/bg_trademark.png) no-repeat;
	bottom: 63px;
	left: 20px;
	z-index:3;
}
.nav-left,
.nav-right {
	position:absolute;
	width:30px;
	height:60px;
	top:50%;
	margin-top:-30px;
	background:url(../img/bg_arrow_nav.png) no-repeat;
	z-index:6;
	display:none;
	opacity:0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	-webkit-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   -moz-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -ms-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
     -o-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
        transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.nav-left {
	left:25px;
	background-position:0 2px;
}
.nav-right {
	right:40px;
	background-position:0 -58px;
}
.nav-left:hover,
.nav-right:hover {
	opacity: 1;
	-webkit-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-moz-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-ms-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	-o-transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
	transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.legal {
	position: absolute;
	bottom: 10px;
	right:15px;
}
.legal p {
	padding:0;
	margin:0;
	font-size: 8px;
	color:#545454;
	text-align:right;
	text-transform:uppercase;
}
.heading {
	background:url(../img/bg_heading.png) no-repeat center bottom;
	color:#b6a170;
	font-size:20px;
	line-height:1.6em;
	width:400px;
	text-align:center;
	margin:70px auto 30px auto;
	padding-bottom:35px;
	text-transform:uppercase;
}
.heading span {
	color:#fff;
	display:block;
	line-height:1em;
	font-size:35px;
	font-family:neutrafaceText-bold_alt, neutrafaceText-book_alt, Arial, Helvetica, sans-serif;
}
.content {
	color:#dac7a2;
	font-size:13px;
	position:absolute;
	top:202px;
	left:50%;
	bottom:0;
	width:980px;
	margin:0 0 0 -490px;
}
/*
.content {
	color:#dac7a2;
	font-size:13px;
	position:absolute;
	top:290px;
	bottom:50px;
	width:84%;
	margin:0 8%;
	x-overflow-y:scroll;
}
*/
h2 {
	color:#f9f6f0;
	font-size:20px;
	margin-top:0;
}
.content-img-right {
	float:right;
	margin:0 0 0 65px;
}
.social-links {
	margin-top:28px;
}
.social-links a {
	color: #52b4ff;
	display:block;
	background: url(../img/bg_social_links.png) no-repeat;
	padding: 0 0 0 30px;
	line-height: 21px;
	margin-bottom:10px;
	text-decoration:none;
	text-transform:uppercase;
}
.social-links .twitter {
	background-position: left -32px;
}
.fadeIn,
.heading {
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.center-container {
  position: relative;
}
.absolute-center {
	width: 74%;
	height: 40%;
	x-overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.absolute-center.is-right {
	left: auto; right: 20px;
	text-align: right;
}
.absolute-center.is-left {
	right: auto; left: 20px;
	text-align: left;
}
.absolute-center.is-bottom {
	top: auto; bottom: 0;
}
.absolute-center.is-fixed {
	position: fixed;
	z-index: 999;
}

	
/* 
   Nav
   -------------------------------------------------------------------------- */
#tabs {
	position: absolute;
	right:-515px;
	width: 450px;
	padding-left:15px;
	height: 100%;
	top: 0;
	z-index: 5;
	text-transform: uppercase;
}
.tab-panel {
	position:absolute;
	top:0;
	left:50px;
	width:429px;
	height:100%;
	padding:0 0 0 21px;
}
.tab-panel h1 {
	padding: 0px;
	color:white;
	margin: 27px 0 5px;
	font-weight: normal;
}
.tab-panel h2 {
	padding: 0px;
	color:white;
	margin: 10px 0 5px;
	font-weight: normal;
	font-size: 14px;
}
.tabs-nav {
	position: absolute;
	top: 42px;
	left:-50px;
	width:50px;
	height:120px;
	z-index:2;
}
.tab-anchor {
	background:#110d0d url(../img/bg_tab_menu.png) no-repeat center top;
	cursor: pointer !important;
	display: block;
	font-size: 14px;
	height:52px;
	-webkit-border-radius: 9px 0 0 9px;
	-moz-border-radius: 9px 0 0 9px;
	border-radius: 9px 0 0 9px;
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
	position:relative;
	text-transform: uppercase;
	width:65px;
}
.tab-anchor span {
	display:none;
	position:absolute;
	left:0%;
	text-align:right;
	width:100px;
	z-index:-1;
	color:white;
	text-decoration:none;
	font-size:24px;
	line-height:52px;
}
.tab-anchor.menu {
	background-position:17px top;
}
.tab-anchor.menu:hover {
	background-position:17px -198px;
}
.tab-anchor.menu.selected {
	background-position:17px -156px;
}
.tab-anchor.search {
	background-position:17px -52px;
	margin-top:15px;
}
.tab-anchor.search:hover {
	background-position:17px -242px;
	margin-top:15px;
}
.tab-anchor.search.selected {
	background-position:17px -156px;
}
#nav-clip {
	width:390px;
	overflow:hidden;
}
nav a {
	text-decoration:none;
}
nav ul {
	margin: 3px 0 0 0px;
	font-size: 13px;
	padding-left:0;
}
nav ul ul {
	padding-left:17px;
	margin-bottom:10px;
	font-size:12px;
}


nav li,
nav li a {
	display: block;
	list-style: none;
	margin-bottom: 3px;
	color:white;
}

nav .flavor_labels{
	color: #c7abcd;
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 11px;
	letter-spacing: 1px;
}

nav li li a {
	color:#dcb9a1;
}
nav li li a:hover {
	color:#a3cffe;
	padding-left: 5px;
	
}

a{
	-webkit-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    -ms-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
}
a:hover{
	-webkit-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    -ms-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: color 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950), padding-left 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
}


nav .secondary {
	position: absolute;
	bottom: 80px;
}
nav .secondary li {
	float:left;
	margin-right:20px;
}
nav .secondary a {
	font-size:11px;
	color:#8b8b8b;
}
nav .secondary a:hover {
	color:#fff;
}

nav .menu_two{
	position: absolute;
	bottom: 170px;
}
nav .menu_two a:hover{
	color:#a3cffe;
}

nav .social {
	position: absolute;
	bottom: 120px;
}
nav .social li {
	margin-bottom:4px;
}
nav .canada_link {
	display:block;
	position: absolute;
	bottom: 60px;
	padding-left:30px;
	background:url(../img/bg_canada.png) no-repeat 0 0;
	line-height:1em;
	text-transform:uppercase;
	font-size:11px;
	color: #8b8b8b;
	right:103px;
}
nav .canada_link:hover {
	color:#fff;
	background-position:0 -13px
}

/* 
   Social Links
   -------------------------------------------------------------------------- */
.social a {
	color:#5c7faa;
	background:url(../img/social.png) no-repeat center center;
	float:left;
	margin:5px 17px 0px 0;
	padding-top:5px;
	width:25px;
	height:25px;
		-webkit-transition: margin-top 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: margin-top 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    -ms-transition: margin-top 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: margin-top 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: margin-top 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 

}
.social a:hover {
	margin-top:2px;
}
.social .facebook {
	background-position:0 0;
}
.social .twitter {
	background-position:-45px 0;
}
.social .pintrest {
	background-position:-87px 0;
}
.social .instagram {
	background-position:-126px 0;
}
.social-share-button {
	background:url(../img/btn_product_social.png) no-repeat left top;
	display:block;
	width:223px;
	height:40px;
}
.social-share-button:hover {
	background-position:left -40px;
}


/* 
   Search
   -------------------------------------------------------------------------- */
#tab-2 h1 {
	margin: 27px 0 10px;
}

.txt-site-search {
	border:2px solid #fff;
	color:white;
	font-size:20px;
	background-color:#000000;
	width:300px;
	outline: none;
	padding:10px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
}
.txt-site-search:hover{
	border:2px solid #2ea8ef;
}

.btn-site-search {
	background:#110d0d url(../img/bg_tab_menu.png) no-repeat;
	background-position:center -108px;
	border:2px solid #f2bf92;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	padding:0;
	margin:0;
	width:52px;
	height:48px;
	vertical-align:bottom;
}
.btn-site-search:hover{
	border:2px solid #a3cffe;
}

h2.site-search-h2 {
	color: #ddd1c6;
	font-size: 16px;
	margin: 25px 0 15px 0;
}
.site-search-results ul {
	list-style:none;
	padding:0;
	width:350px;
}
.site-search-results li {
	margin-bottom:6px;
	margin-left: 10px;
}
.site-search-results a {
	color:#f2bf92;
	text-decoration:none;
	text-transform:none;
	font-size: 14px;
}
.site-search-results a:hover {
	color:white;
}


/* 
   Tabs - base styles
   -------------------------------------------------------------------------- */
.tabs {
	list-style:none;
	margin:0;
	padding:0;
}
.tabs li {
	display:inline-block;
}
.tabs a {
	x-padding: 20px 20px 10px 20px;
	padding: 0 20px 0 20px;
	display: block;
	color: #a1a1a1;
	text-decoration: none;
	font-size:20px;
}
.tabs .active a {
	color:#fff;
}
.tab {
	border:3px solid #4b3d3b;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	border-bottom: 0;
}
.tab-content {
	padding:20px;
	border:3px solid #736d66;
	-webkit-border-radius: 0px 20px 20px 20px;
	-moz-border-radius: 0px 20px 20px 20px;
	border-radius: 0px 20px 20px 20px;
	display:none;
}

/* 
   Bullet nav at the bottom
   -------------------------------------------------------------------------- */
.counter {
	margin:18px auto;
	padding:0;
	z-index:4;
	display:none;
}
.counter li {
	position: static;
	float: left;
	display: block;
	width: 65px;
	height: 4px;
	margin: 0 5px;
}
.counter li a {
	display: block;
	width: 65px;
	height: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color:#3f3c3c;
}
.counter li a.active {
	background: #fff;
}
.counter li a:hover {
	background-color:#aaa;
}


/* 
   Modal Styles - Base Styles
   -------------------------------------------------------------------------- */
#modal-overlay {
    position: absolute;;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal-box {
	display:none;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	position: relative;
	margin: 0 auto;
	top: 50%;
	left:50%;
	z-index: 101;
	background: lightgray;
	display: inline-block;
	cursor: default;
}
.modal-box .close-box {
	background: url(../img/bg_dialog_close.png) no-repeat;
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 100px;
	display: block;
	line-height: 0px;
	height: 24px;
	width: 24px;
	cursor: pointer;
}
/* 
   Modal Styles - Social Share
   -------------------------------------------------------------------------- */
.social-share {
	padding:60px;
	width:705px;
	height:235px;
}
.social-share .social-link {
	color:#594e54;
	display:block;
	float:left;
	width:175px;
	height:175px;
	x-padding:30px;
	text-decoration:none;
	text-transform:uppercase;
	font-family: neutrafaceText-bold_alt, neutrafaceText-book_alt, Arial, Helvetica, sans-serif;
	padding: 10px;
	margin:20px;
	background-color: #fff;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.social-link span {
	display:block;
	text-align:center;
	padding:20px 0;
}
/* 
   Modal Styles - Leaving Site
   -------------------------------------------------------------------------- */
.leaving-site {
	border: 3px solid #dda97a;
	background: #d1c5ba;
	padding:28px;
	width: 480px;
	text-align: left;
	top:0;
	left:0;
}
.leaving-site .close-link,
.leaving-site h2,
.leaving-site h3 {
	font-family:neutrafaceText-bold_alt, neutrafaceText-book_alt, Arial, Helvetica, sans-serif;
}
.leaving-site h2,
.leaving-site .close-link {
	color:#000;
	text-transform:uppercase;		
}
.leaving-site h3 {
	margin:0;
}
.leaving-site .close-link {
	text-decoration:none;
	line-height:38px;
}
.leaving-site .continue-link {
	background: #793b46;
	color: white;
	float: right;
	font-size:20px;
	line-height:38px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding:0 15px;
	text-transform:uppercase;
	text-decoration:none;
}


/* ==========================================================================
   Web Fonts
   ========================================================================== */
/*This CSS resource incorporates links to web font and font software which is
the valuable copyrighted property of House Industries and/or its suppliers. You
expressly agree to not copy, install, redistribute, convert, modify, or reverse
engineer this font software. Please contact House Industries with any questions
regarding Web Fonts: http://www.houseind.com*/

@font-face {
	font-family:'neutrafaceText-book_alt';
	src: url('../webfonts/NeutrafaceText-Book_Alt.eot') format('eot'),
		 url('../webfonts/NeutrafaceText-Book_Alt.woff') format('woff'),
		 url('../webfonts/NeutrafaceText-Book_Alt.ttf') format('truetype');
}

@font-face {
	font-family:'neutrafaceText-bold_alt';
	src: url('../webfonts/NeutrafaceText-Bold_Alt.eot') format('eot'),
		 url('../webfonts/NeutrafaceText-Bold_Alt.woff') format('woff'),
		 url('../webfonts/NeutrafaceText-Bold_Alt.ttf') format('truetype');
}

/* ==========================================================================
   Reset Styles
   ========================================================================== */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
@media only screen and (max-height: 768px) {


}
@media only screen and (min-width: 1195px) {
	.promo1-links {
		width: 732px;
	}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}